# Task 4.10 Part B Coding Etiquette and Excel Reporting

Contents

1. Import libraries


2. Import dataset


3. Create profiling variables

    3a. Age ranges of customers flag
    
    3b. Income brackets flag
    
    3c. Dependents flag


4. Data Insights


5. Export latest dataframe as pickle

# 1. Import libraries

In [3]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 2. Import latest dataset Instacart_final

In [4]:
# Turn project folder path into a string

path = r'/Users/giorjeanmutuc/Instacart Basket Analysis'

In [5]:
# import Instacart_final.pkl

df_final = pd.read_pickle(r'/Users/giorjeanmutuc/Instacart Basket Analysis/02 Data/Prepared Data/Instacart_final.pkl')

In [4]:
# remove column limit to enable checking the data

pd.options.display.max_columns = None

In [5]:
# remove row limit to enable checking the data

pd.options.display.max_rows = None

In [6]:
# Check columns 

df_final.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,activity,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,ord_med_freq,order_freq_flag,gender,state,age,date_joined,dependents,fam_status,income,_merge,region,exclusion_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer

# 3. Create profiling variables

In [7]:
# Check all kinds of variables

df_final.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
order_dow                    int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
activity                    object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
avg_order                  float64
spending_flag               object
ord_med_freq               float64
order_freq_flag             object
gender                      object
state                       object
age                          int64
date_joined                 object
dependents                   int64
fam_status                  object
income                       int64
_merge                    category
region                      object
exclusion_flag              object
dtype: object

# 3a. Age ranges flag

In [8]:
# Check age of users

df_final['age'].value_counts().sort_index()

18    478457
19    496077
20    480194
21    489116
22    490811
23    492931
24    487608
25    449324
26    489892
27    501071
28    464831
29    497291
30    486637
31    506218
32    474676
33    472331
34    484830
35    496510
36    460649
37    487618
38    492790
39    485248
40    483323
41    451269
42    485081
43    499729
44    494457
45    488088
46    472571
47    494052
48    506730
49    507879
50    468776
51    492218
52    480429
53    479004
54    497817
55    489733
56    499580
57    473657
58    479842
59    480715
60    461897
61    463615
62    473859
63    474757
64    504832
65    464710
66    454604
67    472533
68    501319
69    489495
70    480234
71    463515
72    479884
73    499453
74    477168
75    499229
76    477348
77    477999
78    471119
79    508337
80    492750
81    485847
Name: age, dtype: int64

In [6]:
# flag for ages 20 & under

df_final.loc[(df_final['age'] <= 20), 'age_range'] = '20 & under'

In [7]:
# flag for ages 21-30

df_final.loc[(df_final['age'] > 20) & (df_final['age'] <= 30), 'age_range'] = '21-30'

In [8]:
# flag for ages 31-40

df_final.loc[(df_final['age'] > 30) & (df_final['age'] <= 40), 'age_range'] = '31-40'

In [9]:
# flag for ages 41-50

df_final.loc[(df_final['age'] > 40) & (df_final['age'] <= 50), 'age_range'] = '41-50'

In [10]:
# flag for ages 51-60

df_final.loc[(df_final['age'] > 50) & (df_final['age'] <= 60), 'age_range'] = '51-60'

In [11]:
# flag for ages 61-70

df_final.loc[(df_final['age'] > 60) & (df_final['age'] <= 70), 'age_range'] = '61-70'

In [12]:
# flag for ages 71-80

df_final.loc[(df_final['age'] > 70) & (df_final['age'] <= 80), 'age_range'] = '71-80'

In [13]:
# flag for ages 80 & above

df_final.loc[(df_final['age'] >= 81), 'age_range'] = '81+'

In [14]:
# Check new column age_range 

df_final[['user_id', 'age', 'age_range']].head()

   user_id  age age_range
0        1   31     31-40
1        1   31     31-40
2        1   31     31-40
3        1   31     31-40
4        1   31     31-40

In [18]:
# Check age_range of Instacart users

users_age = df_final.groupby('age_range').agg({'user_id': ['count']})

In [19]:
users_age

            user_id
              count
age_range
20 & under  1454728
21-30       4849512
31-40       4844193
41-50       4868632
51-60       4834892
61-70       4779958
71-80       4846802
81+          485847

In [15]:
# To count unique user_ids by age_range

unique_users_age = df_final.groupby('age_range')['user_id'].nunique().sort_values(ascending=False)

In [16]:
unique_users_age_desc = df_final.sort_values('age_range', ascending=False)

In [ ]:
# Create bar charts for unique_users_age

bar_users_age = unique_users_age_desc.plot.barh(color =['lightblue'], xlabel= 'age range', ylabel= 'user count', title = 'Age Ranges of Instacart Users')
plt.tight_layout()

In [22]:
# To export bar_users_age image file

bar_users_age.figure.savefig(os.path.join(path, '04 Analysis','Visualizations', 'bar_users_age.png'), bbox_inches = 'tight')

# 3b. Income brackets flag

In [23]:
# Check min, max and average income

In [24]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [25]:
df_final['income'].describe()

count   30964564.000
mean       99675.865
std        43141.866
min        25903.000
25%        67292.000
50%        96765.000
75%       128102.000
max       593901.000
Name: income, dtype: float64

In [26]:
# flag for income below 50000

df_final.loc[(df_final['income'] < 50000), 'income_bracket'] = '<50000'

In [27]:
# flag for income 50000-99999

df_final.loc[(df_final['income'] > 49999) & (df_final['income'] <= 99999), 'income_bracket'] = '50000-99999'

In [28]:
# flag for income 100000-200000

df_final.loc[(df_final['income'] > 99999) & (df_final['income'] <= 200000), 'income_bracket'] = '100000-200000'

In [29]:
# flag for income 200001-300000

df_final.loc[(df_final['income'] > 200000) & (df_final['income'] <= 300000), 'income_bracket'] = '200001-300000'

In [30]:
# flag for income 300001-400000

df_final.loc[(df_final['income'] > 300000) & (df_final['income'] <= 400000), 'income_bracket'] = '300001-400000'

In [31]:
# flag for income 400001-500000

df_final.loc[(df_final['income'] > 400000) & (df_final['income'] <= 500000), 'income_bracket'] = '400001-500000'

In [32]:
# flag for income 500001-600000

df_final.loc[(df_final['income'] > 500000) & (df_final['income'] <= 600000), 'income_bracket'] = '500001-600000'

In [33]:
# Check count of income_bracket of Instacart users

df_final['income_bracket'].value_counts()

100000-200000    13953260
50000-99999      13394608
<50000            3362554
200001-300000      154113
300001-400000       53033
400001-500000       27927
500001-600000       19069
Name: income_bracket, dtype: int64

# 3c. Dependents flag

In [34]:
# check dependent numbers

df_final['dependents'].value_counts()

3    7772516
0    7739681
2    7733261
1    7719106
Name: dependents, dtype: int64

In [35]:
# create flag for user with dependents 

df_final.loc[(df_final['dependents'] >= 1), 'parental_status'] = 'Parent'

In [36]:
# create flag for user with no dependents

df_final.loc[(df_final['dependents'] == 0), 'parental_status'] = 'Non-parent'

In [37]:
# check parental_status of Instacart users

df_final['parental_status'].value_counts().sort_index()

Non-parent     7739681
Parent        23224883
Name: parental_status, dtype: int64

In [38]:
# Check latest columns of df_final 

df_final.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,activity,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,ord_med_freq,order_freq_flag,gender,state,age,date_joined,dependents,fam_status,income,_merge,region,exclusion_flag,age_range,income_bracket,parental_status
0,2539329,1,1,2,8,0.000,196,1,0,Soda,77,7,9.000,Mid-range product,Regular days,Average orders,10,New customer,6.368,Low spender,20.000,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer,31-40,<50000,Parent
1,2398795,1,2,3,7,15.000,196,1,1,Soda,77,7,9.000,Mid-range product,Slowest days,Average orders,10,New customer,6.368,Low spender,20.000,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer,31-40,<50000,Parent
2,473747,1,3,3,12,21.000,196,1,1,Soda,77,7,9.000,Mid-range product,Slowest days,Most orders,10,New customer,6.368,Low spender,20.000,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer,31-40,<50000,Parent
3,2254736,1,4,4,7,29.000,196,1,1,Soda,77,7,9.000,Mid-range product,Slowest days,Average orders,10,New customer,6.368,Low spender,20.000,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer,31-40,<50000,Parent
4,431534,1,5,4,15,28.000,196,1,1,Soda,77,7,9.000,Mid-range product,Slowest days,Most orders,10,New customer,6.368,Low spender,20.000,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,both,South,Regular customer,31-40,<50000,Parent

In [39]:
# Check number of rows in df_final

df_final.shape

(30964564, 35)